body{
    text-align: center;
    align-items: center;
    background: black;
    
}
.div1{
    padding-left: 10%;
    font-size: larger;
    font-weight: bolder;
    padding-top: 1em;
    width: 1100px;
    text-align: center;
}

#mainhead{
    color: white;
    background-color: rgb(43, 0, 112);
    border-radius: 90px;
    height: 80px;
    padding-top: 1em;   
}

.div2{
    font-family:'Times New Roman', Times, serif;
    font-size: 35px;
    color: rgb(113, 255, 255);
    background-color: rgb(6, 0, 85);
    border: 1px solid rgb(6, 0, 85);
    border-radius: 90px;
    height: 50px;
    width: 25em;
    padding-top: 0.7em;
    margin-left: 3em;
}